.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.product-details {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.product-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.product-name {
  margin-right: 20px;
}

.product-quantity {
  width: 50px;
  text-align: center;
  margin-right: 25px;
}

.remove-button {
  background-color: #230806;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
}


.iWantItbtn {
  background-color: #ffb056;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.iWantItbtn:hover {
  background-color: #ff8686;
}

.iWantItbtn:active {
  background-color: #ff8686;
}

.iWantItbtn {
  margin: 10px;
}